<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>
	Hey there! Sir Experimentable here. 
	</p>
	<p>
	This is somewhat awkward... you don't know me. I know you though. Very well.
	You see, I have been monitoring you very closely for quite some time. It's part of a study I am doing.
	I have been recording every task you have completed in an effort to better understand how humans get things done.
	</p>
	<p>
	Oh, I am an alien by the way. Did I forget to mention that?  Sorry.  
	</p>
	<p>
	Well, it is embarrassing to say, but I was playing jerbafflegarble with my fellow scientists and I injured my leg.
	Now, I cannot sneakily follow you around to continue my study. I am too close to a major breakthrough to give up though.
	</p>
	<p>
	Will you help me complete my study by sending me daily updates about what you have completed?  In return, I'll post
	your data to a secure website for your review. If you do well, I might even teach you how to play jerbafflegarble :)
	</p>
	<p>Ready to help? Reply to this email (above my email) and I'll record your data at <%= @url %>. </p>
  </body>
</html>