<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
	<h3>
		-- Hey <%= @user.name %>! -- 
	</h3>
	<p>
		Thanks for letting me help you track your time.  Together, we'll make time tracking easy and, dare I say, fun?  
		Ok, at very least, painless. Try it for a few days and let me know.*
	</p>
	
	<h3>
		How it works
	</h3>
	<ol>
		<li>
			At the end of the day, I'll send you an email.  When you finish your day's tasks, send a quick 
			reply in this format:
		</li>
	</ol>
	<h4 style="margin-left:50px;">
		@Project #hrs description
	</h4>
	<h3>
		For example
	</h3>
	
	<p style="margin-left:50px;">
		@project1 #3 completed a bunch of sales calls <br />
		@project2 #4.5 implemented the enhanced security feature
	</p>
		
	<br />
	<h3>And that's it!</h3>
	<p>
		I'll process everything behind the scenes.  If you need to review your entries, 
		go to <%= @url %>.  You can add, modify, delete, and review all your entries and projects there.
	</p>

	<br />
	<h4>
		See you this afternoon!
	</h4>
	<br />
	<p>
		*To send feedback, just reply to any of my emails with "FEEDBACK" as the subject.
	</p>
	
  </body>
</html>