<h1><%= @project.name %> </h1>  

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'View All', projects_path %> 
<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %>