// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#EntryFilterOptions {
	padding: 20px 10px;
	border-bottom: 1px solid black;
	text-align: center;
}
	.entry_filter_option {
		display: inline;
	}
	.entry_filter_option.from {
		
	}
	.entry_filter_option.to {
		margin-left: 30px;
	}
	.entry_filter_option.submit {
		margin-left: 30px;
	}

	
#EntryProjectContent{
	margin: auto;
	width: 960px;
	margin-top: 30px;
}

.header_title{
	font-size: 18px;
}
	.header_title a{text-decoration:none;}
	
#SideProjectBox {
	float: left;
	width: 200px;
}
	#ProjectsList {
		list-style-type: none;
		padding: 0px;
	}
	li.a_project {
		margin-bottom: 10px;
	}
	li.a_project a{
		text-decoration: underline;
	}




#EntriesBox {
	float: left;
	width: 700px;
}
	.date_title{
		color: #EE8888;
		font-style: italic;
		font-weight: bold;
	}
	div.entry_row {
		width: 700px;
	}
	.entry_item{
		display: inline;
		margin-left: 10px;
	}
	.entry_row_entry_info{
		max-width: 600px;
		margin: 10px 0px;
	}

	

	.entry_row_entry_info a{
		color: #BBBBBB;
		font-size: 11px;
		&:visited {color: #BBBBBB;}
		&:hover {
			text-decoration: none;
		} 
	}

	.entry_item.project{}
	.entry_item.hours{}
	.entry_item.tasks{}
	.entry_item.edit{
		border-left: 1px solid #BBB;
		padding-left: 11px;
	}
	.entry_item.delete{
	}
	.tasks_box{
		display:inline;
	}