// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#LoginPageContent{
	margin: auto;
	width: 960px;
	margin-top: 30px;
}

#LoginBox {
	width: 200px;
	text-align: center;
	float: left;
}

#LoginInfoBox {
	width: 600px;
	float: right;
}
